.wrapper {
  display: flex;
  height: 100%;
  min-height: 500px;
  // flex-direction: column;
  .left {
    flex: 100px 1 1;
    align-items: stretch;
  }
  .right {
    flex: 330px 0 0;
    align-items: stretch;
    background-color: #F4F4F4;
    overflow: auto;
  }
}