<div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="unit_name">单位名称</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="unit_name" id="unit_name" />
        <nz-form-explain *ngIf="validateForm.get('unit_name')?.dirty && validateForm.get('unit_name')?.errors">
          请输入单位名称
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="social_code">统一社会信用码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="social_code" id="social_code" />
        <nz-form-explain *ngIf="validateForm.get('social_code')?.dirty && validateForm.get('social_code')?.errors">
          请输入统一社会信用码
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="unit_type">单位类型</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="请选择单位类型"
        formControlName='unit_type'
      >
        <nz-option *ngFor="let item of listOptions" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
      </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="fixed_phone">单位固话</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input  nz-input formControlName="fixed_phone" id="fixed_phone" />
        <nz-form-explain *ngIf="validateForm.get('fixed_phone')?.dirty && validateForm.get('fixed_phone')?.errors">
          请输入单位固话
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="unit_email">邮箱</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="unit_email" id="unit_email" />
        <nz-form-explain *ngIf="validateForm.get('unit_email')?.dirty && validateForm.get('unit_email')?.errors">
          请输入邮箱
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="linkman">联系人</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input  nz-input formControlName="linkman" id="linkman" />
        <nz-form-explain *ngIf="validateForm.get('linkman')?.dirty && validateForm.get('linkman')?.errors">
          联系人
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="cell_phone">联系人手机</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input  nz-input formControlName="cell_phone" id="cell_phone" />
        <nz-form-explain *ngIf="validateForm.get('cell_phone')?.dirty && validateForm.get('cell_phone')?.errors">
          联系人手机
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="unit_address">单位地址</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input  nz-input formControlName="unit_address" id="unit_address" />
        <nz-form-explain *ngIf="validateForm.get('unit_address')?.dirty && validateForm.get('unit_address')?.errors">
          单位地址
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="fax">传真</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input  nz-input formControlName="fax" id="fax" />
        <nz-form-explain *ngIf="validateForm.get('fax')?.dirty && validateForm.get('fax')?.errors">
          传真
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="bank">开户银行</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input  nz-input formControlName="bank" id="bank" />
        <nz-form-explain *ngIf="validateForm.get('bank')?.dirty && validateForm.get('bank')?.errors">
          开户银行
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="bank_account">银行账户</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input  nz-input formControlName="bank_account" id="bank_account" />
        <nz-form-explain *ngIf="validateForm.get('bank_account')?.dirty && validateForm.get('bank_account')?.errors">
          银行账户
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"   nzFor="mark">备注</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea   nz-input formControlName="mark" id="mark"></textarea>
        <nz-form-explain *ngIf="validateForm.get('mark')?.dirty && validateForm.get('mark')?.errors">
          请输入备注
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>