<div class="c-line-btns" appHorizontalScroll>
  <ng-container *ngFor="let item of actions; let i = index">
    <nz-dropdown
      *ngIf="(item.multi && item.multiActions?.length > 0)"
      [nzPlacement]="'bottomLeft'"
      [class]="item.type + ' action-btn'"
    >
      <button nz-button nz-dropdown>
        <i nz-icon [type]="item.icon" theme="outline" style="font-size: 16px;"></i>
        <span>{{item.name}}</span>
        <i nz-icon type="down"></i>
      </button>
      <ul nz-menu>
        <li nz-menu-item *ngFor="let item of item.multiActions"
          appDebounceClick
          [debounceTime]="250"
          (debounceClick)="item.click()">
          <span>{{item.name}}</span>
        </li>
      </ul>
    </nz-dropdown>

    <button 
      *ngIf="!item.multi"
      nz-button 
      class="action-btn"
      appDebounceClick
      [nzType]="item.type"
      [debounceTime]="250"
      (debounceClick)="item.click()">
      <i nz-icon *ngIf="item.icon" [type]="item.icon" theme="outline"></i>
      <span>{{item.name}}</span>
    </button>

  </ng-container>

</div>