.container {
  display: flex;
  height: 100%;
  min-height: 500px;

  .treeLeft {
    width: 280px;
    box-shadow: 1px 2px 2px rgba(100, 94, 100, 0.8);

    .title {
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      color: white;
      background: #1890ff;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: auto;

      li {
        height: 42px;
        text-align: center;
        line-height: 42px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
        border-bottom: 1px solid #e8e8e8;
      }

      li:hover {
        cursor: pointer;
        background: rgba(153, 204, 255, 0.4);
      }

      .checked {
        background: rgba(153, 204, 255, 0.4);
      }
    }
  }

  .contentright {
    flex: 1;
    padding: 0 20px;

    .btns {
      height: 55px;
      line-height: 55px;
      text-align: right;

      .mr8 {
        margin-right: 8px;
      }

    }
  }

}
