<div class="wrapper">
  <grid-action [actions]="gridActions"></grid-action>

  <nz-table
    #nzTable
    class="table"
    style="min-height: 300px; margin-bottom: 16px;"
    nzSize="middle"
    [nzData]="uniSer.data"
    [nzScroll]="{x: '600px'}"
    [nzShowPagination]="false"
    [nzFrontPagination]="false"
  >
    <thead>
      <tr>
        <th nzWidth="100px">温度</th>
        <th nzWidth="100px">湿度</th>
        <th>检查位置</th>
        <th nzWidth="200px">检查时间</th>
        <th nzWidth="120px" *ngIf="maintainMode">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of nzTable.data">
        <td>{{ i.temp }}℃</td>
        <td>{{ i.humi }}%</td>
        <td>{{ i.position }}</td>
        <td>{{ i.record_time }}</td>
        <td *ngIf="maintainMode">
          <a (click)="itemEdit(i)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="itemDelete(i)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-pagination
    class="pagination"
    alarm_record.="{ blur: uniSer.loading }"
    [nzTotal]="uniSer.totalCount"
    [nzShowTotal]="totalTemplate"
    [nzShowSizeChanger]="true"
    [nzPageSizeOptions]="[10, 50, 100, 500]"
    [(nzPageIndex)]    ="uniSer.page"
    [(nzPageSize)]     ="uniSer.size"
    (nzPageIndexChange)="uniSer.pageParamsCh$.next()"
    (nzPageSizeChange) ="uniSer.pageParamsCh$.next(true)"
  ></nz-pagination>
</div>
