<div class="container">
  <div class="treeLeft">
    <nz-tree
    #nzTreeComponent
    [nzData]="trees"
    [nzExpandAll]="true"
    (nzClick)="nzClick($event)"
  >
  </nz-tree>
  </div>
  <div class="contentright">
    <grid-action [actions]="gridActions"></grid-action>
    <nz-table
    #rowSelectionTable
    nzShowSizeChanger
    [nzData]="listOfDisplayData"
    [nzTotal]="total"
    (nzPageIndexChange)="changePageIndex($event)"
    (nzPageSizeChange)="changePageSize($event)"

  >
    <thead>
      <tr>
        <th
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"
        ></th>
        <th>账号</th>
        <th>姓名</th>
        <th>所属单位</th>
        <th>联系电话</th>
        <th>邮箱</th>
        <th>是否启用</th>
        <th>是否试用</th>
        <th>试用到期时间</th>
        <th>角色</th>
        <th>是否为管理员</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{ data.account }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.unit?.unit_name }}</td>
        <td>{{ data.phone }}</td>
        <td>{{ data.email }}</td>
        <td>{{ yesOrno(data.enable) }}</td>
        <td>{{ yesOrno(data.on_trial) }}</td>
        <td>{{ data.trial_end }}</td>
        <td>{{ data.role?.role_name }}</td>
        <td>{{ yesOrno(data.is_super)}}</td>
      </tr>
    </tbody>
  </nz-table>
  </div>
</div>
