.container {
  display: flex;
  height: 100%;
  min-height: 500px;

  .treeLeft {
    padding: 20px 5px;
    width: 300px;
    overflow: auto;
    border: 1px dotted #ccc;
  }

  .contentright {
    padding-left: 12px;
    flex: 1;
  }

  :host ::ng-deep {
    .ant-table {
      height: 730px;
    }
  }
}
