<div style="height: 100%;padding: 0 20px;">
  <grid-action [actions]="gridActions"></grid-action>
  <nz-table
    style="height: 800px;"
    #rowSelectionTable
    nzShowSizeChanger
    [nzData]="listOfDisplayData"
    [nzTotal]="total"
    (nzPageIndexChange)="changePageIndex($event)"
    (nzPageSizeChange)="changePageSize($event)"

  >
    <thead>
    <tr>
      <th
        nzShowCheckbox
        [(nzChecked)]="isAllDisplayDataChecked"
        [nzIndeterminate]="isIndeterminate"
        (nzCheckedChange)="checkAll($event)"
      ></th>
      <th>温度计名称</th>
      <th>温度计编号</th>
      <th>温度计所属单位</th>
      <th>购买时间</th>
      <th>厂家</th>
      <th>使用位置</th>
      <th>用途</th>
      <th>使用状态</th>
      <th>型号</th>
      <th>供应商</th>
      <th>采购价格</th>
      <th>下次校准时间</th>
      <th>备注</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
      <td>{{ data.name }}</td>
      <td>{{ data.thermometer_code }}</td>
      <td>{{ data.unit_id }}</td>
      <td>{{ data.buy_time }}</td>
      <td>{{ data.factory }}</td>
      <td>{{ data.use_location }}</td>
      <td>{{ data.purpose }}</td>
      <td>{{ data.usage_state }}</td>
      <td>{{ data.model }}</td>
      <td>{{ data.supplier }}</td>
      <td>{{ data.purchase_price }}</td>
      <td>{{ data.nextAline_time }}</td>
      <td>{{ data.mark }}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
