<nz-layout id="menuWidth" class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="javascript:(0)">
        <!-- <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo"> -->
        <h1 *ngIf="!isCollapsed">温湿度监测&冷链验证管理系统</h1>
      </a>
    </div>
    <ul nz-menu [nzMode]="'inline'" nzTheme="light" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu *ngFor="let item of menuList;let key=index;" [(nzOpen)]="openMap['sub'+key]"
        (nzOpenChange)="openHandler('sub'+key)">
        <!--        home-->
        <a class="homeMenu" title *ngIf="item.key_word == 'home'" routerLink="{{item.module_url}}">
          <i nz-icon type="{{item.icon}}"></i>
          <span>{{item.module_name}}</span>
        </a>

        <span title *ngIf="item.key_word != 'home'">
          <i nz-icon type="{{item.icon}}"></i>
          <span>{{item.module_name}}</span>
        </span>

        <ul>
          <li nz-menu-item *ngFor="let child of item.children">
            <a routerLink="{{child.module_url}}">{{child.module_name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="navScaling()">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <div class="header-tab" [style.width.px]="conWidth">
          <nz-tabset nzType="card" nzSize="small">
            <nz-tab *ngFor="let menu of tabList; index as i" [nzTitle]="titleTemplate">
              <ng-template #titleTemplate>
                <div class="self-tab">
                  <a [ngClass]="{'a-active':menu.isSelect,'.a-normal':!menu.isSelect}"
                    routerLink="/{{ menu.module }}">{{ menu.title }}</a>
                  <i class="anticon anticon-close ant-tabs-close-x" (click)="closeUrl(menu.module,menu.isSelect)"></i>
                </div>
              </ng-template>
            </nz-tab>
          </nz-tabset>
        </div>
        <div class="alert-list">
          <span [style.display]="isShowTip ? 'inline-block':'none'" class="alert-mask" (click)="noticeClick()"></span>
          <!--  提示遮罩层-->
          <span class="bellStyle" title="新的通知">
            <i nz-icon nzType="bell" nzTheme="outline"></i>
          </span>
          <span class="count" [style.display]="isShowTip ? 'inline-block':'none'"></span><!--  小红点-->
          <div class="alert-ul" [style.display]="isShow ? 'inline-block':'none'">
            <div class="top"></div>
            <ul>
              <li *ngFor="let item of remindList;let key=index;">
                <a routerLink="{{item.url}}">{{item.name}}( {{item.count}} )</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="user-manager">
          <i nz-icon style="font-size: 20px" nzType="user" nzTheme="outline" (mouseover)="mouseFun('inline-block')"></i>
          <div id="user-option" (mouseleave)="mouseFun('none')">
            <div class="mask"></div>
            <div class="top"></div>
            <ul>
              <li (click)="outSyatem()">退出账号</li>
              <li (click)="resetPsw()">修改密码</li>
            </ul>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
