<nz-layout id="menuWidth" class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="javascript:(0)">
        <!-- <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo"> -->
        <h1 *ngIf="!isCollapsed">温湿度监测冷链验证管理系统</h1>
      </a>
    </div>
    <ul nz-menu [nzMode]="'inline'" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu *ngFor="let item of menuList;let key=index;">
<!--        home-->
        <a class="homeMenu" title *ngIf="item.key_word == 'home'" routerLink="{{item.module_url}}">
          <i nz-icon type="{{item.icon}}"></i>
          <span>{{item.module_name}}</span>
        </a>

        <span title *ngIf="item.key_word != 'home'">
          <i nz-icon type="{{item.icon}}"></i>
          <span>{{item.module_name}}</span>
        </span>

        <ul>
          <li nz-menu-item *ngFor="let child of item.children">
            <a routerLink="{{child.module_url}}">{{child.module_name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="navScaling()">
          <i class="trigger"
             nz-icon
             [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>

        <span class="alert-mask" (click)="noticeClick()"></span><!--  提示遮罩层-->

        <span class="bellStyle" title="新的通知">
          <i nz-icon nzType="bell" nzTheme="outline"></i>
        </span>

        <span class="count"
              [style.display]="isShowTip ? 'inline-block':'none'"></span><!--  小红点-->

        <div class="alert-ul" [style.display]="isShow ? 'inline-block':'none'">
          <div class="top"></div>
          <ul>
            <li *ngFor="let item of remindList;let key=index;">
              <a routerLink="{{item.url}}">{{item.name}}( {{item.count}} )</a>
            </li>
          </ul>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
