<div style="height: 100%;padding: 0 20px;">
  <grid-action [actions]="gridActions"></grid-action>

  <div [style.width.px]="tableWidth">
    <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="listOfDisplayData"
      [nzTotal]="total"
      (nzPageIndexChange)="changePageIndex($event)"
      (nzPageSizeChange)="changePageSize($event)"
      [nzScroll]="{ x: '3000px',y: tableHeight+'px'}"
    >
      <thead>
      <tr>
        <th nzWidth="2%" nzLeft="0"
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"
        ></th>
        <th nzWidth="8%" nzLeft="4%">单位名称</th>
        <th nzWidth="8%">统一社会信用码</th>
        <th nzWidth="5%">单位类型</th>
        <th nzWidth="6%">单位固话</th>
        <th nzWidth="4%">状态</th>
        <th nzWidth="4%">联系人</th>
        <th nzWidth="6%">联系人手机</th>
        <th nzWidth="8%">单位地址</th>
        <th nzWidth="8%">邮箱</th>
        <th nzWidth="6%">传真</th>
        <th nzWidth="8%">开户银行</th>
        <th nzWidth="8%">创建账号</th>
        <th nzWidth="8%">审核备注</th>
        <th nzWidth="4%">审核人</th>
        <th>审核时间</th>
        <th>备注</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td nzLeft="0"  nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
        <td nzLeft="4%">{{ data.unit_name }}</td>
        <td>{{ data.social_code }}</td>
        <td>{{ data.unit_type }}</td>
        <td>{{ data.fixed_phone }}</td>
        <td>{{ data.state }}</td>
        <td>{{ data.linkman }}</td>
        <td>{{ data.cell_phone }}</td>
        <td>{{ data.unit_address }}</td>
        <td>{{ data.unit_email }}</td>
        <td>{{ data.fax }}</td>
        <td>{{ data.bank}}</td>
        <td>{{ data.bank_account }}</td>
        <td>{{ data.audit_mark }}</td>
        <td>{{ data.auditor }}</td>
        <td>{{ data.audit_time }}</td>
        <td>{{ data.mark }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
