<div class="wrapper">
  <div *ngIf="userCode ==='1'">验证实施用户首页</div>
  <div *ngIf="userCode !=='1'" class="content">
    <div class="condition">
      <div style="display: inline-block">
        <label>监测区域 ：</label>
        <nz-select class="option-val" nzShowSearch nzAllowClear nzPlaceHolder="请选择" style="width: 200px"
          [ngModel]="checkVal" (ngModelChange)="storeChange($event)">
          <nz-option *ngFor="let item of storeList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
        </nz-select>
      </div>
      <ul>
        <li>
          <span *ngIf="isShow === true" (click)="showStyle(false)"><i nz-icon nzType="appstore"
              nzTheme="outline"></i></span>
          <span *ngIf="isShow === false" (click)="showStyle(true)"><i nz-icon nzType="bars"
              nzTheme="outline"></i></span>
        </li>
        <li><span style="background: #FF7747">未处理报警数 ：{{alarmData.unproceNum}}</span></li>
        <li><span style="background: #A4A5B0">离线测点 ：{{alarmData.offLineNum}}</span></li>
        <li><span style="background: #EF252C">报警测点 ：{{alarmData.alarmNum}}</span></li>
        <li><span style="background: #FFCB1C">预警测点 ：{{alarmData.warnNum}}</span></li>
        <li><span style="background: #3D9A23">测点总数 ：{{alarmData.allNum}}</span></li>
      </ul>
    </div>
    <div class="con-main">
      <div class="card-inner" [style.height.px]="cardConHeight" *ngIf="isShow === false" (scroll)="divScrollFun()">
        <div class="card" *ngIf="listOfData.length === 0">
          <div style="text-align: center;margin: auto">
            <img width="200" src="../../../assets/imgs/temp.jpg" alt="暂无数据">
            <p>暂无数据</p>
          </div>
        </div>
        <div class="card" *ngIf="listOfData.length !== 0">
          <div class="card-item" *ngFor="let item of listOfData;let key=index;">
            <div class="card-item-con">
              <span class="wifi-icon"><i nz-icon nzType="wifi" nzTheme="outline"
                  [ngClass]="{'success-color':isState(item.time),'default-color':!isState(item.time)}"></i></span>
              <div class="date-time">
                <span style="margin-right: 15px;">日期 : {{ item.time | date:'yyyy-MM-dd' }}</span>
                <span>时间 : {{ item.time | date:'HH:mm' }}</span>
              </div>
              <span class="opera-btn">
                <!--                <i style="margin-right: 10px;" nz-icon nzType="code-sandbox-square" nzTheme="fill" class="error-color"></i>-->
                <i (click)="pointChers(item)" nz-icon nzType="slack-square" nzTheme="fill" class="primary-color"></i>
              </span>
            </div>
            <div class="card-item-con">
              <div class="card-item-con-mid">
                <div class="item1">
                  <p>温</p>
                  <p>度</p>
                </div>
                <div class="item2">
                  <span [ngClass]="isSetColor(item,'temp')" >{{item.temp}}</span>℃
                </div>
                <div class="item3">
                  <p>温度范围</p>
                  <p>上限 : {{item.temp_up}}℃</p>
                  <p>下限 : {{item.temp_down}}℃</p>
                </div>
              </div>
            </div>
            <div class="card-item-con">
              <div class="card-item-con-mid">
                <div class="item1">
                  <p>湿</p>
                  <p>度</p>
                </div>
                <div class="item2">
                  <span *ngIf="item.humi == 0">--</span>
                  <span *ngIf="item.humi != 0" [ngClass]="isSetColor(item,'humi')">{{item.humi}}</span>%
                </div>
                <div class="item3">
                  <p>湿度范围</p>
                  <p>上限 : {{item.humi_up}}%</p>
                  <p>下限 : {{item.humi_down}}%</p>
                </div>
              </div>
            </div>
            <div class="card-item-con">
              <span title="{{item.cname}}">仓库名称 : {{ item.cname }}</span>
              <span title="{{item.bname}}">探头名称 : {{ item.bname }}</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isShow === true" class="list">
        <nz-table class="history-table" #basicTable [nzData]="listOfData" nzShowSizeChanger
          [nzScroll]="{y: tableHeight+'px'}" [nzShowPagination]="false" [nzFrontPagination]="false">
          <thead>
            <tr>
              <th nzWidth="60px">序号</th>
              <th nzWidth="110px">库房名称</th>
              <th nzWidth="110px">测点位置</th>
              <th nzWidth="100px">日期</th>
              <th nzWidth="80px">时间</th>
              <th nzWidth="100px">温度(℃)</th>
              <th nzWidth="100px">温度范围(℃)</th>
              <th nzWidth="100px">湿度(%)</th>
              <th nzWidth="100px">湿度范围(%)</th>
              <th nzWidth="80px">测点状态</th>
              <!--            <th nzWidth="50px">检查</th>-->
              <th nzWidth="50px">曲线图</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of basicTable.data;let key = index">
              <td>{{ key+1 }}</td>
              <td>{{ item.cname }}</td>
              <td>{{ item.bname }}</td>
              <td>{{ item.time | date:'yyyy-MM-dd' }}</td>
              <td>{{ item.time | date:'HH:mm' }}</td>
              <td>{{item.temp}}</td>
              <td>{{item.temp_up + "~" + item.temp_down}}</td>
              <td>{{item.humi}}</td>
              <td>{{item.humi_up + "~" + item.humi_down}}</td>
              <td>{{isState(item.time) ? '在线' : '离线'}}</td>
              <!--            <td><i style="font-size: 18px" nz-icon nzType="code-sandbox-square" nzTheme="fill" class="error-color"></i></td>-->
              <td><i (click)="pointChers(item)" style="font-size: 18px;cursor: pointer" nz-icon nzType="slack-square"
                  nzTheme="fill" class="primary-color"></i></td>
            </tr>
          </tbody>
        </nz-table>
        <nz-pagination class="pagination" [nzTotal]="total" [nzShowSizeChanger]="true" [(nzPageIndex)]="page"
          [(nzPageSize)]="size" (nzPageIndexChange)="changePageIndex($event)"
          (nzPageSizeChange)="changePageSize($event)"></nz-pagination>
      </div>
    </div>
  </div>
</div>
