@import 'variables';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    flex: 300px 1 1;
    overflow: auto;

    .tips {
      height: 100%;
      display: flex;

      .left {
        flex: 240px 0 0;
        background-color: #1d67a7;
      }

      .right {
        flex: 300px 1 1;
        padding-top: 25px;
        padding-left: 25px;

        .title {
          line-height: 48px;
          font-size: 20px;
          font-weight: bold;
          color: #000;
        }

        p {
          font-size: 16px;
        }
      }
    }

    .base, .params {
      padding: 0 20px 20px 20px;

      .title {
        @include title;
      }

      form {
        padding: $ContainerPadding;
      }
    }

    .ant-row {
      padding: 5px 0;
    }
  }

  .footer {
    border-top: 1px solid lightgray;
    flex: auto 0 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;

    > * {
      margin-left: 8px;
    }
  }
}
