<div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="state">审核意见</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="state" [(ngModel)]="radioValue">
          <label nz-radio nzValue="通过">通过</label>
          <label nz-radio nzValue="不通过">不通过</label>
        </nz-radio-group>
        <nz-form-explain *ngIf="validateForm.get('state')?.dirty && validateForm.get('state')?.errors">
          请选择是否为管理员
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"   nzFor="audit_mark">备注</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea   nz-input formControlName="audit_mark" id="audit_mark"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>