/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/src/ng-zorro-antd.css";

.modal-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  .ant-modal {
    top: 0 !important;
    .ant-modal-content {
      .ant-modal-body {
        max-height: 70vh;
        overflow-y: auto;
      }
    }
  }
}

.modal-vertical-center.height-fixed {
  .ant-modal {
    .ant-modal-content {
      .ant-modal-body {
        height: 70vh;
      }
    }
  }
}

.modal-vertical-center.no-padding {
  .ant-modal {
    .ant-modal-content {
      .ant-modal-body {
        padding: 0;
      }
    }
  }
}

.full-width {
  width: 100%;
}

.full-width.ant-calendar-picker {
  width: 100%;
  .ant-calendar-picker {
      width: 100% !important;
  }
}