<div style="height: 100%;padding: 0 20px;">
  <grid-action [actions]="gridActions"></grid-action>
  <nz-table
    #rowSelectionTable
    nzShowSizeChanger
    [nzData]="listOfDisplayData"
    [nzTotal]="total"
    (nzPageIndexChange)="changePageIndex($event)"
    (nzPageSizeChange)="changePageSize($event)"
    [nzScroll]="{y: tableHeight+'px'}"

  >
    <thead>
    <tr>
      <th
        nzWidth="60px"
        nzShowCheckbox
        [(nzChecked)]="isAllDisplayDataChecked"
        [nzIndeterminate]="isIndeterminate"
        (nzCheckedChange)="checkAll($event)"
      ></th>
      <th nzWidth="120px">姓名</th>
      <th nzWidth="180px">单位</th>
      <th nzWidth="150px">部门</th>
      <th nzWidth="150px">岗位</th>
      <th nzWidth="250px">签字样式</th>
      <th>备注</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
      <td title="{{data.name}}">{{ data.name}}</td>
      <td>{{ data.unit }}</td>
      <td>{{ data.dept }}</td>
      <td>{{ data.appoint }}</td>
      <td><img src="{{data.sign}}" height="40px"></td>
      <td>{{ data.mark }}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
